.app {
  background: #474646;
  color: white;
}

.header {
  padding: 35px;
}

.title {
  padding: 20px 0 10px 0;
  font-size: 1.2em;
}

.stat-row {
  padding: 0 0 2px 20px
}

.stat-value {
  text-align: right;
  padding: 0 20px 2px 0
}
